<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>巧克力販賣機</title>
  <link rel="stylesheet" href="style.css">

</head>

<body>

  <div id="app">
    <div class="top">
      <item v-for="item of items" :item="item" :key="item.name" @add-item="addToCart"></item>
    </div>
    <div class="bottom">
      <div>
        <p>{{ runningText }}</p>
      </div>
      <p>{{ selectedItem ? selectedItem.name + " $" + selectedItem.price : "" }}</p>
      <div class="amount">{{ cashStatus }}</div>
      <div class="cash-slot" @dragover="dragover" @dragenter="dragenter" @dragleave="dragleave" @drop="drop">
        <div class="line"></div>
      </div>
      <div class="exit"><img id="purchased" v-if="isCheckedOut" :src="selectedItem ? selectedItem.img : ''" :style="checkoutStyle" @click="pickUp" /></div>
    </div>
      <div class="coins">
        <p>Your unlimited wallet (you're welcome)&nbsp;&#x2192;</p>
        <coin v-for="coin of coins" :coin="coin" :key="coin.class" @dragstart="dragstart" @dragend="dragend"></coin>
      </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="main.js"></script>
</body>

</html>
